<aside class="widget-wrap">
    <div class="widget">
      <SCRIPT charset="utf-8" type="text/javascript" src="http://ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Fbmsirato-22%2F8009%2F069975f2-cf45-4865-a144-17bbd0014e66&Operation=GetScriptTemplate"> </SCRIPT> <NOSCRIPT><A rel="nofollow" HREF="http://ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Fbmsirato-22%2F8009%2F069975f2-cf45-4865-a144-17bbd0014e66&Operation=NoScript">Amazon.co.jp ウィジェット</A></NOSCRIPT>
    </div>
</aside>
