{{ if .Site.Params.widgets.packages }}
{{ if isset .Site.Taxonomies "packages" }}
{{ if not (eq (len .Site.Taxonomies.packages) 0) }}
<div class="widget-wrap">
    <h3 class="widget-title">
        {{with .Site.Data.l10n.widgets.packages.title}}
        <a href="{{. | urlize | lower | absURL}}" class="widget-title">
        <i class="fas fa-box"></i>{{.}}</a>
        {{end}}
    </h3>
    <div class="widget">
        <ul class="category-list">
            {{ range $name, $items := .Site.Taxonomies.packages }}
            <li class="category-list-item">
                {{ $url := printf "%s/%s" "packages" ($name | urlize | lower)}}
                <a class="category-list-link" href="{{ $url | absURL }}">
                    {{ $name }}
                </a>
                <span class="category-list-count">{{ len $items }}</span>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
{{ end }}
{{ end }}
